html,
body {
  position: relative;
  color: rgb(221, 221, 221);
  height: 100vh;
  background: #333333;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-system-message-info {
  font-size: 24px;
}

.reset-btn {
  color: greenyellow;
  cursor: pointer;
}

.updater-download-btn {
  color: rgb(5, 166, 230);
  cursor: pointer;
}

.updater-quit-and-install-btn {
  color: rgb(0, 108, 248);
  cursor: pointer;
}